<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.diagnostics>
		<sources>
			<source name="EventLoggerSource" switchName="sourceSwitch" switchType="System.Diagnostics.SourceSwitch">
				<listeners>
					<remove name="Default" />
					<add name="EventLoggerListener" type="System.Diagnostics.EventLogTraceListener" initializeData="OutSystems Platform" />
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="sourceSwitch" value="All" />
		</switches>
	</system.diagnostics>
	<system.xml.serialization>
		<dateTimeSerialization mode="Local" />
	</system.xml.serialization>
	<appSettings file="appSettings.config">
		<add key="Installation.InstanceName" value="DEFAULT" />
		<add key="OutSystems.HubEdition.UnifiedEspaceKey" value="" />
		<add key="OutSystems.RESTService.Assemblies" value="ContactManager" />
		<add key="OutSystems.HubEdition.CacheInvalidationSuffix.794c445f-f27d-4f61-b47a-0da71440df68" value="?4344" />
		<add key="OutSystems.HubEdition.EspaceCompilationDate" value="637057637478330000" />
		<add key="OutSystems.HubEdition.EspaceCompilationHash" value="YAlSGywEurRYWB_S2pMu8w" />
		<add key="OutSystems.HubEdition.EspaceHMAC" value="j6j11gDIB9EL2U6jrc5EhsGqa6I=" />
		<add key="OutSystems.HubEdition.EspaceVersionID" value="4344" />
		<add key="OutSystems.HubEdition.EspaceVersionToken" value="$ESPACE_VERSION_TOKEN_PLACEHOLDER$" />
		<add key="OutSystems.Module.PersonalAreaName" value="" />
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.web>
		<trust level="Full" originUrl="" />
		<compilation defaultLanguage="c#" debug="true" batch="false" optimizeCompilations="true" />
		<customErrors mode="RemoteOnly" defaultRedirect="/ContactManager/CustomHandlers/internalerror.aspx?">
			<error statusCode="404" redirect="/ContactManager/CustomHandlers/notfound.aspx?" />
		</customErrors>
		<authentication mode="None" />
		<identity impersonate="false" />
		<sessionState cookieless="false" regenerateExpiredSessionId="true" mode="Custom" customProvider="OutSystemsSessionProvider">
			<providers>
				<add name="OutSystemsSessionProvider" type="OutSystems.HubEdition.RuntimePlatform.SessionState.SqlSessionStateStore" />
			</providers>
		</sessionState>
		<httpRuntime enableVersionHeader="false" useFullyQualifiedRedirectUrl="true" targetFramework="4.6.1" requestValidationMode="2.0" />
		<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" />
		<pages enableSessionState="true" validateRequest="false" enableEventValidation="false" />
		<httpModules>
			<add type="OutSystems.HubEdition.RuntimePlatform.UnhandledExceptionModule, OutSystems.HubEdition.RuntimePlatform" name="UnhandledExceptionModule" />
		</httpModules>
		<xhtmlConformance mode="Transitional" />
	</system.web>
	<system.webServer>
		<security>
			<requestFiltering>
				<hiddenSegments>
					<remove segment="bin2" />
					<add segment="bin2" />
					<remove segment="appSettings.config" />
					<add segment="appSettings.config" />
				</hiddenSegments>
			</requestFiltering>
		</security>
		<defaultDocument>
			<files>
				<clear />
				<add value="Home.aspx" />
			</files>
		</defaultDocument>
		<httpProtocol>
			<customHeaders>
				<remove name="X-Powered-By" />
			</customHeaders>
		</httpProtocol>
		<modules>
			<add name="UnhandledExceptionModule" type="OutSystems.HubEdition.RuntimePlatform.UnhandledExceptionModule, OutSystems.HubEdition.RuntimePlatform" preCondition="managedHandler" />
		</modules>
		<validation validateIntegratedModeConfiguration="false" />
	</system.webServer>
</configuration>