<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <compilation debug="false" defaultLanguage="vb" />
        <pages enableEventValidation="true" validateRequest="true" />
    </system.web>
    <system.webServer>
        <security>
            <requestFiltering>
                <denyQueryStringSequences>
                    <add sequence="aspxerrorpath=" />
                </denyQueryStringSequences>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
